@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%, 
        #131537 100%
    );
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

header {
  background-color: aqua;
  margin-top: 0;
  position:sticky;
  top: 0;
}

.containeri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  margin-left: 20px;
  padding-top: 10px;
 
}

header{
  z-index:1;
}
.container   .brandName {
  margin: 0;
}

.getStarted {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  z-index:1;
}

.dropdown-content{
  z-index:99;
}

.register {
  margin-left: 50px; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

.signIn {
  margin-left: 50px; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

.hover-effect:hover {
  background-color: #7a41ffd2;
  transform: translate3d(0px, -2px, 0px);
}

footer {
  position: sticky;
  bottom: 0;
}

.footer {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: aqua;
}

.wrapper{
  display: flex;
  flex-direction:row;
  align-items: center;
}

@media (max-width:768px) {
 .wrapper{
    display: flex;
    flex-direction:column;
    align-items: center;
}
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgb(26,40,73);
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* Register.html */
.form{
    padding: 30px;

}
.form form{
    margin: 20px;
    margin-left: 300px;
    padding: 20px;
    box-shadow: 1px 1px 16px chartreuse;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}
.form form h2{
    color: chocolate;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.form form input{
    width: 70%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-left: 2px solid orangered;
    
}
.form form input:focus{
    border-left: 2px solid rgba(19, 226, 174, 0.788);
    border-right: 2px solid rgba(226, 19, 53, 0.788);
    box-shadow: chartreuse 1px 1px 8px;
}
.form form input:hover{
    border-left: 2px solid rgba(19, 40, 226, 0.788);

}
.form form select{
    width: 70%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-left: 2px solid orangered;
}
.form form button{
    /* width: 70%;
    margin: 10px;
*/         padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-left: 2px solid orangered;
    border-right: 2px solid orangered;
    background-color: rgb(184, 221, 18);
    margin: 30px;
    box-shadow: 1px 1px 8px black;
}

/* Home Page CSS */

.myProfile {
  margin-left: 50px; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

.account {
  margin-left: 50px; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

.logout {
  margin-left: 50px; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/*IMPORTANT page CSS*/


* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif; margin:0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

main{
  margin-top:100px;
  margin-bottom:57px;
}

.mainhome{
  margin-top:57px;
  margin-bottom:100px;
}

/* Slideshow container */
#carouselExampleIndicators {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.imageclass{
  border-radius:15px;
  margin-left:200px;
  height: 40%;
  width: 40%;
  top:0;
  margin-top:0px;
}

.start {
  margin-left: 46%; 
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
  width:100px;
  height:50px;
  display: flex;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}

